/* .btn-primary {
    color: #fff;
    background-color: #b5152b;
    border-color: #9e1226;
    padding: 10px 35px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #871020;
    border-color: #670c19;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    padding: 10px 35px;
}

form {
    background-color: #ccc;
    padding: 14px 20px;
} */