<table class="table table-striped table-responsive-md">
    <thead>
        <tr>
            <th>ProcessName</th>
            <th>StartTime</th>
            <th>EndTime</th>
            <th>Originator</th>
            <th>State</th>
           
        </tr>
    </thead>

    <!-- <tr>
        <th>processDefinitionName</th>
        <th>startTime</th>
        <th>endTime</th>
        <th>startUserId</th>
        <th>state</th>
    </tr> -->
    <tbody>
        <tr *ngFor="let history of allHistory">
            <td>{{history.processDefinitionName}}</td>
            <td>{{history.startTime | date:'yyyy-MM-dd hh:mm'}}</td>
            <td>{{history.endTime | date:'yyyy-MM-dd hh:mm'}}</td>
            <td>{{history.originator}}</td>
            <td>{{history.state}}</td>
            
            
        </tr>
    </tbody>
</table>
