<!-- <div class="tab-container">
    <ul class="tabs">
        <li class="tab-item active">Task View</li>
        <li class="tab-item">Case Info</li>
        <li class="tab-item">Attachment</li>
        <li class="tab-item">Audit Trail</li>
    </ul>
    <div class="tab-content">
        <div></div>
    </div>
</div> -->



<table class="table table-striped table-responsive-md">
    <thead>
        <tr>
            <th>Case Id</th>
            <th>Task Name</th>
            <th>Priority</th>
            <th>Asignee</th>
            <th>Start Date</th>
            <th>Out Date</th>
            <th>Followup Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of  groupTasks">
            <td>{{task.processInstanceId}}</td>
            
            <td><a [routerLink]="''" [state]="{ task: task,routeTo:'all-tasks' }">{{task.name}}</a></td>
            <td>{{task.priority}}</td>
            <td>{{task.assignee}}</td>
            <td style="width:200px">{{task.created | date: 'yyyy-MM-dd hh:mm'}}</td>
            <td>{{task.due | date: 'yyyy-MM-dd hh:mm'}}</td>
            <td>{{task.followUp}}</td>
        </tr>
    </tbody>
</table>
