.tab-container{
    position: relative;
}

.tabs{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.tabs .tab-item{
    display: inline-block;
    padding: 10px 25px;
    font-weight: bold;
    border-bottom: 0px !important;
    border-radius: 5px 5px 0px 0px;
}

.tabs .active{
    border: 2px solid black;
    background: #F2F2F2;
}

.tabs .tab-item:not(.active){
    background: #808080;
    border: 2px solid black;
}

.tab-content{
    padding: 10px 25px;
    border: 2px solid black;
    border-top: 0px solid black;
    background: #F2F2F2;
}

.tab-content::after{
    position: absolute;
    border: 2px solid black;
    background-color: #F2F2F2;
    left: 0px;
    top: 20px;
    width: -webkit-fill-available;
    height: 80%;
    content: "asdf";
    z-index: -1;
}

.tab-content div{
    height: 100px;
    width: 100%;
    background-color: white; 
}
