
<table style="width:100%">
    <thead>
    <tr>
    <th>Variable Name</th>
    <th>Value</th>
    <th>Variable</th>
    <th>Value</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{keys[0]}}</td>
        <td>{{allCaseInfo[keys[0]].value}}</td>
        <td>{{keys[2]}}</td>
        <td>{{allCaseInfo[keys[2]].value}}</td>
      </tr>
      <tr>
        <td>{{keys[1]}}</td>
        <td>{{allCaseInfo[keys[1]].value}}</td>
        <td>{{keys[3]}}</td>
        <td>{{allCaseInfo[keys[3]].value}}</td>
      </tr>
    </tbody>
    </table>